.Main {
background-image: linear-gradient(to top , rgba(0, 255, 51, 0.5),rgba(0, 170, 102, 0.5));
font-family: 'Quintessential', ;
margin: 0;
 height: 1500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgInfo {
display: flex;
}

.imgInfo p {
margin: 20px;
}

.imgInfo img {
margin: 20px;
}

.card-body{
background-color: rgba(161, 220, 129, 0.2);
height: 100%;
}

.aboutMain{
display: flex;
height: 300px;
padding: 1% 5%;
}

.infoAboutMe{
height: 300%;
}

.contact{
display: inline;
}

.contact ul{
display: flex;
justify-content: center;
margin: 7% 10%;
}

.me{
height: 110%;
}